<footer class="footer">
  <small>
    <%= raw t("layouts._footer.author") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= raw t("layouts._footer.news") %></li>
    </ul>
  </nav>
</footer>
